/*  main_page.css
    File Begun: Oct 7, 2012
    File Creator: David Greis
    css for main flauntr page
    Much of this code from: http://www.queness.com/post/923/create-a-simple-infinite-carousel-with-jquery 
*/

* {
    margin: 0;
}

.outer-wrap {
	margin: 0 auto;
	width: 960px;
}

#userinfo{
    margin-left:36px;
    float:left;
    font-size:.9em;
    margin-top: 15px;
}

.login-link {
	width: 200px;
	text-align:center;
	margin: 20px auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 0;
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #06C;
}

.login-link a {
	color: white;	
	text-decoration: underline;
}

.login-link:hover,
.login-link.hover {
	color: white;	
	text-decoration: underline;
	background: #9eceff; /* Old browsers */
	background: -moz-linear-gradient(top,  #9eceff 0%, #7bb9f7 44%, #5ea6ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9eceff), color-stop(44%,#7bb9f7), color-stop(100%,#5ea6ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9eceff 0%,#7bb9f7 44%,#5ea6ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9eceff 0%,#7bb9f7 44%,#5ea6ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9eceff 0%,#7bb9f7 44%,#5ea6ed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9eceff 0%,#7bb9f7 44%,#5ea6ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eceff', endColorstr='#5ea6ed',GradientType=0 ); /* IE6-9 */
}

.login-link:active,
.login-link.active {
	color: white;	
	text-decoration: underline;
	background: #429df7; /* Old browsers */
	background: -moz-linear-gradient(top,  #429df7 0%, #5eaeff 46%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#429df7), color-stop(46%,#5eaeff), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #429df7 0%,#5eaeff 46%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #429df7 0%,#5eaeff 46%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #429df7 0%,#5eaeff 46%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #429df7 0%,#5eaeff 46%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429df7', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #0CF;
}

.albumSet{
    margin-right:15px;
}

.about-us {
	margin: 0 auto;
	color: #333333;
	padding: 20px;
	width: 500px;
	height: auto;
	background-color: #d0dfef;
	-moz-border-radius: 20px;
	border-radius: 20px;
	line-height: 1.3em;
}

.about-us p {
	margin-bottom:10px;
}

img {
    padding: 1px;
    border: 1px solid rgba(0, 99, 220, 0.68);
    background-color: #FFF;
}

body{
    font-family:Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#auth{
    float:right;
    width:25%;
}

#authbutton{
    cursor:auto;
    width: 200px;  height: 40px;  color: white; background-color: rgba(0, 99, 220, 0.68);
    text-align: center;  font-size: 10px;
    clear:both;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    border-radius: 30px; 
    line-height:2;
    font-size:1.1em;
}

#logo{
    float:left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.3em;
    font-weight:bold;
    color:#0063dc;
}

#headbanner {
    padding-left:15px;
    padding-top:10px;
    width:100%;
    background-color:#FFF;
    height:70px;
}

#r{
	font-family: "American Typewriter", Courier, "Courier New", monospace;
	color:#ff0084;
	font-weight:normal;
	font-size:1em;
}

ul{
    list-style:none;
}

li{
    float:left;
}

a{
    text-decoration: none;
    color:rgba(0, 99, 220, 0.68); 
}

#albumscrollerwrapper{
    width:600px;
    height:200px;
    float:left;
    clear:both;
    margin-left:20px;
}
#albumscroller{
    width:600px;
    height:145px;
    float:left;
    clear:both;
    border:5px;
    border-color:rgba(0, 99, 220, 0.68);
    border-style:solid;
    border-radius:100px;
	
	overflow-y: none;
	overflow-x: auto;
}

#albumtab{
    background-color:rgba(0, 99, 220, 0.68);
    color:white;
    width:70px;
    text-align:center;
    margin-left:78px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);  
    border-top-left-radius:10px;
    border-top-right-radius:10px;  
}

#sets{
    margin-top:10px;
    margin-left:32px;
}

.trailItem{
    margin-right:10px;
}

#davidbutton{
    /*basic styles*/
    width: 95px;  height: 15px;  color: white; background-color: rgba(0, 99, 220, 0.68);
    text-align: center;  font-size: 10px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
 
 
    /*gradient styles*/
  /*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d46d45), to(#b1432a));
    background: -moz-linear-gradient(19% 75% 90deg,#b1432a, #d46d45);*/
 
    /*border styles*/
  /*  border-top: solid 2px #e28d79;
    border-bottom: solid 1px #51281f;
    border-right: solid 1px #d46d45;
    border-left: solid 1px #d46d45; */
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

#content-gallery {
        /*margin: 10px 10px 10px 10px;*/
        width: 600px;
        height: 400px;
    /*  padding: 25px;
        border: 1px dotted #222;*/
        -moz-box-shadow: 4px 4px 2px #ddd;
        -webkit-box-shadow: 4px 4px 2px #ddd;
        box-shadow: 4px 4px 2px #ddd;
        
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
        overflow:auto;
        }


.scroll-content-item { width: 100px; height: 100px; float: left; text-align: center; }

#content-left{
    float:left;
}


.rightzone{
    background: rgba(0, 99, 220, 0.68);
    padding-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius:15px;
    float: left;
    margin:15px;
    padding:5px;  
}

#content-right{
    height: 600px;
    width: 200px;

}

#content-right-gallery{
    height: 600px;
    width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    margin-left:14px;
}

#content-right-galleryimg{
    height: 300px;
    width: 400px;
     margin-bottom: -5px;
        margin-top: 10px;
        margin-left: 21px;
        margin-right: 15px;
    /*background: rgba(0, 93, 200, 0.68);*/
    overflow-y: auto;
    overflow-x: hidden;
    border-left-width: 20px;
    float: none;
}

#gallerylarge{

}
#content-right-gallerytag{
    float: none;
    height: 75px;
    width: 350px;
    /*background: rgba(0, 93, 200, 0.68);*/
    padding-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius:15px;
    border-left: 20px;
    border-left-width: 20px;
    overflow: auto;
}
#tagtrash{
    height: 75px;
    width: 400px;
    /*background: rgba(0, 93, 200, 0.68);*/
    padding-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius:15px;
    border-left: 20px;
    border-left-width: 20px;
}

.phototag{
    color:#FFF;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);    
    font-family: "American Typewriter", Courier, "Courier New", monospace;
    font-weight:100;
    font-size: 1em;
    margin-left:6px;
    margin-top:5px;
}

.tagheads{
    color: white;
    margin-top:4px;
    margin-left:3px;
    margin-bottom:10px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    float:left;    
}



.custom {
border: 1px outset;
padding: 4px;
background-color: rgb(59, 89, 152);
text-decoration: none;
margin-right: 8px;
}

.custom a{
color: white;
}

#tag_getter{
    float:left;
    margin-top:9px;
    margin-left:13px;
    margin-bottom:3px;
}

#content-tags{
height: auto;
float: left;
border: 0px dotted #222;
list-style: none;
overflow: auto;
margin-left:9px;
margin-top:9px;

}   

#tag-finder {
color:rgba(0, 99, 220, 0.68);
width: 100%;
height: 100%;   
overflow: auto;
clear:both;
}

#tag-finder ul {
	padding: 0;
	margin: 0;
}

.tag-zone {
    width: 180px;
    height: 170px;  
    background-color: rgba(0, 99, 220, 0.68);
    margin-bottom: 20px;
    margin-left:9px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius:15px;
    padding-left:4px;
}

.tagzonename{
    color:#FFF;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);    
    font-family: "American Typewriter", Courier, "Courier New", monospace;
    font-weight:100;
    font-size: 1em;
    margin-left:6px;
    margin-top:5px;
}        

/*.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { max-width:1200px; min-width: 100%; float: left; height: 400px; overflow-x:auto; overflow-y:scroll }*/


/* * html .scroll-content-item { display: inline; } /* IE6 float double margin bug * 
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }  
*/

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -khtml-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }

.taggedPhoto {
	overflow-y: auto;
	overflow-x: hidden;
}

.trash-icon {
	background-position: -176px -100px !important;
	height: 10px !important;
}

