/*  main_page.css
    File Begun: Oct 7, 2012
    File Creator: David Greis
    css for main flauntr page
    Much of this code from: http://www.queness.com/post/923/create-a-simple-infinite-carousel-with-jquery 
*/

* {
    margin: 0;
}

img {
    padding: 1px;
    border: 1px solid rgba(0, 99, 220, 0.68);
    background-color: #FFF;
}

body{
    font-family:Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#auth{
    float:right;
    width:25%;
    margin-top:20px;
    
}

#logo{
    float:left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.3em;
    font-weight:bold;
    color:#0063dc;
}

#headbanner {
    padding-left:15px;
    padding-top:10px;
    width:100%;
    background-color:#FFF;
    height:70px;
}

#r{
	font-family: "American Typewriter", Courier, "Courier New", monospace;
	color:#ff0084;
	font-weight:normal;
	font-size:1em;
}

ul{
    list-style:none;
}

li{
    float:left;
}

a{
    text-decoration: none;
    color:rgba(0, 99, 220, 0.68); 
}

#albumscrollerwrapper{
    width:600px;
    height:200px;
    float:left;
    clear:both;
    margin-left:20px;
}
#albumscroller{
    width:600px;
    height:145px;
    float:left;
    clear:both;
    border:5px;
    border-color:rgba(0, 99, 220, 0.68);
    border-style:solid;
    border-radius:100px;
}

#albumtab{
    background-color:rgba(0, 99, 220, 0.68);
    color:white;
    width:70px;
    text-align:center;
    margin-left:78px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);  
    border-top-left-radius:10px;
    border-top-right-radius:10px;  
}

#sets{
    margin-top:10px;
    margin-left:32px;
}

.trailItem{
    margin-right:10px;
}

#davidbutton{
    /*basic styles*/
    width: 95px;  height: 15px;  color: white; background-color: rgba(0, 99, 220, 0.68);
    text-align: center;  font-size: 10px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
 
 
    /*gradient styles*/
  /*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d46d45), to(#b1432a));
    background: -moz-linear-gradient(19% 75% 90deg,#b1432a, #d46d45);*/
 
    /*border styles*/
  /*  border-top: solid 2px #e28d79;
    border-bottom: solid 1px #51281f;
    border-right: solid 1px #d46d45;
    border-left: solid 1px #d46d45; */
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

#content-gallery {
        /*margin: 10px 10px 10px 10px;*/
        width: 600px;
        height: 400px;
    /*  padding: 25px;
        border: 1px dotted #222;*/
        -moz-box-shadow: 4px 4px 2px #ddd;
        -webkit-box-shadow: 4px 4px 2px #ddd;
        box-shadow: 4px 4px 2px #ddd;
        
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
        overflow:auto;
        }


.scroll-content-item { width: 100px; height: 100px; float: left; margin: 10px; text-align: center; }

#content-left{
    float:left;
}

#content-right{
    height: 600px;
    width: 250px;
    margin-left:15px;
    float: left;    
    background: rgba(0, 99, 220, 0.68);
    padding-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius:15px;
}

.tagheads{
    color: white;
    margin-top:4px;
    margin-left:3px;
    margin-bottom:3px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    float:left;    
}

#tag_getter{
    float:left;
    margin-top:9px;
    margin-left:13px;
    margin-bottom:3px;
}

#content-tags{
width: 300px;
height: 300px;
margin: 20px 0 0 0;
float: left;
border: 0px dotted #222;
list-style: none;
overflow: auto;

}   

#tag-finder {
color:rgba(0, 99, 220, 0.68);
width: 100%;
height: 100%;   
overflow: auto;
clear:both;
}

.tag-zone {
    width: 230px;
    height: 170px;  
    background-color: rgba(0, 99, 220, 0.68);
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius:15px;
}

.tagzonename{
    color:#FFF;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);    
    font-family: "American Typewriter", Courier, "Courier New", monospace;
    font-weight:100;
    font-size: 1em;
    margin-left:18px;
    margin-top:5px;
}        

/*.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { max-width:1200px; min-width: 100%; float: left; height: 400px; overflow-x:auto; overflow-y:scroll }*/


/* * html .scroll-content-item { display: inline; } /* IE6 float double margin bug * / 
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }  

.scroll



