body {
	background: #FFFFFF;
	font-family: "Avenir", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #222;
}

img {
	padding: 1px;
	border: 1px solid #999999;
	background-color: #FFF;
}

h1{margin: 0px 0px; padding: 0;}
h2{margin: 15px 0px 5px 0px; padding: 0; font-size: 1.2em;}
p{margin: 0px 0px; padding: 0;}

table tr td {
	vertical-align: top;
	padding: 4px;
}
	


#wrapper {
        margin: 0 auto;
        width: 1000px;
        height: 100%;
}	

#headdiv{
width: 100%;
height: 30%;
padding: 0px;
text-align: left;
vertical-align: top;

}

#content {
        width: 100%;
        height: 80%;
        padding: 0px;
        text-align: left;
        vertical-align: top;
       
}

#content-left {
		
		width: 70%;
		height: 100%;
		float: left;
	/*	background: #EBEBEB; */
		padding: 20px;
		}

#content-right{
		height: 100%;
		width: 25%;
		float:left;	
		background: #AAEBEA;
		padding-left: 10px;
		}

#content-gallery {
		/*margin: 10px 10px 10px 10px;*/
		width: 440px;
		height: 400px;
	/*	padding: 25px;
		border: 1px dotted #222;*/
		-moz-box-shadow: 4px 4px 2px #ddd;
		-webkit-box-shadow: 4px 4px 2px #ddd;
		box-shadow: 4px 4px 2px #ddd;
		
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;
		float: left;
		}
#set-gallery{
width: 200px;
height: 400px;
background: #AAEAAB;
float:left;
-moz-box-shadow: 4px 4px 2px #ddd;
		-webkit-box-shadow: 4px 4px 2px #ddd;
		box-shadow: 4px 4px 2px #ddd;
		background: #AAEAAA;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;

}		

#content-tags{

margin: 10px 10 px 10 px 10 px;
width: 48%;
height: 40%;
float: left;
border: 1px dotted #222;
}		


#content-tagscustom{
float: right;
/*margin: 10px 10 px 10 px 10 px;*/
width: 48%;
height: 40%;
border: 1px dotted #222;

}		




#map_canvas {
		margin: 0 auto;
		width: 400px;
		height: 250px;
		
		}
	
#sets li
{


list-style-type:none;

}

#sets li a
{

	width:6em;
	padding:0.2em 0.6em;
}
		
#linkbox {
		width: 990px;
		margin: 0 auto 12px;
		padding: 8px;
		border: 1px dotted #222;
		-moz-box-shadow: 4px 4px 2px #ddd;
		-webkit-box-shadow: 4px 4px 2px #ddd;
		box-shadow: 4px 4px 2px #ddd;
}
	
.header {
	font-weight: bold;
	padding: 4px 0px;
}

.subheader {
	font-style: italic;
}

.description {
	color: #444444;
}

#copy {
	color: silver;
	text-align: right;
	}


a:link {text-decoration: none; color: #247b01;}
a:visited {text-decoration: underline; color: #247b01;}
a:hover {text-decoration: underline; color: #888;}
a:active {text-decoration: underline; color: #666;}

input {font-size: 1em; margin: 0px; padding: 8px; border: 1px solid #222;}

input#username {width: 200px;}

#demo-frame > div.demo { padding: 10px !important; }
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { width: 2440px; float: left; }
.scroll-content-item { width: 100px; height: 100px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }	